.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.product_card {
    width: 240px;
}

.product_card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 640px) {
    .cards_container {
        grid-template-columns: repeat( auto-fill, 140px);
    }

    .product_card {
        width: 140px;
    }
    
    .product_card img {
        width: 140px;
        height: 140px;
    }
}